*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(228, 221, 221);
    scroll-behavior: smooth;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a{
    text-decoration: none;
}
a:hover{
    font-size: larger;
    color: rgb(255, 136, 0);
}
.container{
    background-color: black;
    height: 100vh;
    border: 3px solid black;
    display: grid;
    overflow-x: hidden;
    overflow-y: auto;
    grid-template-rows: 1fr 8fr 0.5fr;
    grid-template-columns: 1.7fr 6fr 2.1fr;
    gap: 5px;
}
.box{
    background-color: aqua;
    border: 3px solid black;
}
.navitem{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    color: aliceblue;
}
#box1,#box5{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #151515;
}
#box2,#box4{
    background-color: #151515;
}
#box3{
    background-color: #151515;
    padding: 30px;
    font-size: 1.4rem;
    overflow-y: scroll;
}
#box1{
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1.5fr 1fr 7fr 4fr;
    background-color: #151515;
}
#nav5{
    position: relative;
    margin-left:5%;
}
#prob{
    position: fixed;
}
#nav6{
    position: relative;
    /* top:20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
}
.logo{
    position: absolute;
    left: 30%;
    height: 80%;
    transform: translateX(-50%) ;
}
#box4{
    overflow-y:scroll ;
}
#box2{
    overflow-y: scroll;
    font-size: larger;
}
h2{
    margin-left: 10px;
    padding: 10px;
}
ol{
    margin-left: 40px;
}
li{
    padding: 3px;
}
#box5{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (orientation: portrait) {
    body {
      transform: rotate(90deg);
      transform-origin: top left;
      width: 100vh;
      height: 100vw;
      overflow-x: hidden; /* Optional: Hide horizontal scrollbar */
    }
  }
